In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from datetime import datetime
import sklearn
from sklearn.preprocessing import OneHotEncoder

In [77]:
data = pd.read_csv(r"/Users/maximvasilev/Desktop/ML/subway.csv")

In [4]:
data

,Unnamed: 0,global_route_id,route_id,route_num,start_station_id,start_station_nm,start_line_id,start_line_nm,all_stations_id,all_stations_nm,station_cnt,transit_cnt,sector_cnt,alternative_route_cnt,route_dur,optimal_route_delta
0,0,7018_10001,10001_7018,9,10001,Борисово,10,Люблинско-Дмитровская,"[10001,10013,10002,10011,10005,10016,10009,100...","[""Борисово"",""Марьино"",""Братиславская"",""Люблино...",26,3,4,30,64.59,8.58
1,1,7018_10001,10001_7018,1,10001,Борисово,10,Люблинско-Дмитровская,"[10001,10013,10002,10011,10005,10016,10009,100...","[""Борисово"",""Марьино"",""Братиславская"",""Люблино...",23,1,2,30,56.01,0.00
2,2,7018_10001,10001_7018,2,10001,Борисово,10,Люблинско-Дмитровская,"[10001,10013,10002,10011,10005,10016,10009,100...","[""Борисово"",""Марьино"",""Братиславская"",""Люблино...",25,2,3,30,61.01,5.00
3,3,7018_10001,10001_7018,3,10001,Борисово,10,Люблинско-Дмитровская,"[10001,10013,10002,10011,10005,10016,10009,100...","[""Борисово"",""Марьино"",""Братиславская"",""Люблино...",26,2,3,30,61.81,5.80
4,4,7018_10001,10001_7018,4,10001,Борисово,10,Люблинско-Дмитровская,"[10001,10013,10002,10011,10005,10016,10009,100...","[""Борисово"",""Марьино"",""Братиславская"",""Люблино...",25,2,3,30,62.01,6.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2991566,2991566,8001_9022,9022_8001,29,9022,Цветной бульвар,9,Серпуховско-Тимирязевская,"[9022,10020,10019,10022,5006,5012,7019,8002,80...","[""Цветной бульвар"",""Трубная"",""Сретенский бульв...",10,4,3,33,27.71,11.30
2991567,2991567,8001_9022,9022_8001,30,9022,Цветной бульвар,9,Серпуховско-Тимирязевская,"[9022,9024,2019,2020,3015,3008,10022,10017,800...","[""Цветной бульвар"",""Чеховская"",""Тверская"",""Теа...",10,4,5,33,27.71,11.30
2991568,2991568,8001_9022,9022_8001,31,9022,Цветной бульвар,9,Серпуховско-Тимирязевская,"[9022,10020,10019,1021,6022,6008,7006,7019,800...","[""Цветной бульвар"",""Трубная"",""Сретенский бульв...",11,5,4,33,27.71,11.30
2991569,2991569,8001_9022,9022_8001,32,9022,Цветной бульвар,9,Серпуховско-Тимирязевская,"[9022,9024,7015,7008,7006,6008,6022,10019,1002...","[""Цветной бульвар"",""Чеховская"",""Пушкинская"",""К...",12,4,5,33,27.81,11.40
2991570,2991570,8001_9022,9022_8001,33,9022,Цветной бульвар,9,Серпуховско-Тимирязевская,"[9022,9024,7015,7008,7006,6008,6021,2014,8007,...","[""Цветной бульвар"",""Чеховская"",""Пушкинская"",""К...",12,4,4,33,28.39,11.98

In [5]:
list(data.columns)

['Unnamed: 0',
 'global_route_id',
 'route_id',
 'route_num',
 'start_station_id',
 'start_station_nm',
 'start_line_id',
 'start_line_nm',
 'all_stations_id',
 'all_stations_nm',
 'station_cnt',
 'transit_cnt',
 'sector_cnt',
 'alternative_route_cnt',
 'route_dur',
 'optimal_route_delta']

In [79]:
data["end_station_id"] = data["all_stations_id"].apply(lambda x: x[1:-1].split(",")[-1])
data["end_station_nm"] = data["all_stations_nm"].apply(lambda x: list(map(lambda x: x[1:-1], x.strip("[]").split(",")))[-1])

In [ ]:
list(map(lambda x: x[1:-1], data["all_stations_nm"][1].strip("[]").split(",")))[-1]

In [ ]:
data

In [ ]:
len(data["all_stations_id"][2].split(','))

In [80]:
print(data["start_station_nm"].nunique())
print(data["end_station_nm"].nunique())
data.info

292
292

<bound method DataFrame.info of          Unnamed: 0 global_route_id    route_id  route_num  start_station_id  \
0                 0      7018_10001  10001_7018          9             10001
1                 1      7018_10001  10001_7018          1             10001
2                 2      7018_10001  10001_7018          2             10001
3                 3      7018_10001  10001_7018          3             10001
4                 4      7018_10001  10001_7018          4             10001
...             ...             ...         ...        ...               ...
2991566     2991566       8001_9022   9022_8001         29              9022
2991567     2991567       8001_9022   9022_8001         30              9022
2991568     2991568       8001_9022   9022_8001         31              9022
2991569     2991569       8001_9022   9022_8001         32              9022
2991570     2991570       8001_9022   9022_8001         33              9022

        start_station_nm  start_line_id              start_line_nm  \
0               Борисово             10      Люблинско-Дмитровская
1               Борисово             10      Люблинско-Дмитровская
2               Борисово             10      Люблинско-Дмитровская
3               Борисово             10      Люблинско-Дмитровская
4               Борисово             10      Люблинско-Дмитровская
...                  ...            ...                        ...
2991566  Цветной бульвар              9  Серпуховско-Тимирязевская
2991567  Цветной бульвар              9  Серпуховско-Тимирязевская
2991568  Цветной бульвар              9  Серпуховско-Тимирязевская
2991569  Цветной бульвар              9  Серпуховско-Тимирязевская
2991570  Цветной бульвар              9  Серпуховско-Тимирязевская

                                           all_stations_id  \
0        [10001,10013,10002,10011,10005,10016,10009,100...
1        [10001,10013,10002,10011,10005,10016,10009,100...
2        [10001,10013,10002,10011,10005,10016,10009,100...
3        [10001,10013,10002,10011,10005,10016,10009,100...
4        [10001,10013,10002,10011,10005,10016,10009,100...
...                                                    ...
2991566  [9022,10020,10019,10022,5006,5012,7019,8002,80...
2991567  [9022,9024,2019,2020,3015,3008,10022,10017,800...
2991568  [9022,10020,10019,1021,6022,6008,7006,7019,800...
2991569  [9022,9024,7015,7008,7006,6008,6022,10019,1002...
2991570  [9022,9024,7015,7008,7006,6008,6021,2014,8007,...

                                           all_stations_nm  station_cnt  \
0        ["Борисово","Марьино","Братиславская","Люблино...           26
1        ["Борисово","Марьино","Братиславская","Люблино...           23
2        ["Борисово","Марьино","Братиславская","Люблино...           25
3        ["Борисово","Марьино","Братиславская","Люблино...           26
4        ["Борисово","Марьино","Братиславская","Люблино...           25
...                                                    ...          ...
2991566  ["Цветной бульвар","Трубная","Сретенский бульв...           10
2991567  ["Цветной бульвар","Чеховская","Тверская","Теа...           10
2991568  ["Цветной бульвар","Трубная","Сретенский бульв...           11
2991569  ["Цветной бульвар","Чеховская","Пушкинская","К...           12
2991570  ["Цветной бульвар","Чеховская","Пушкинская","К...           12

         transit_cnt  sector_cnt  alternative_route_cnt  route_dur  \
0                  3           4                     30      64.59
1                  1           2                     30      56.01
2                  2           3                     30      61.01
3                  2           3                     30      61.81
4                  2           3                     30      62.01
...              ...         ...                    ...        ...
2991566            4           3                     33      27.71
2991567            4           5                     33      27.71
2991568            5           4                     33      27.71
2991569            4           5                     33      27.81
2991570            4           4                     33      28.39

         optimal_route_delta end_station_id end_station_nm
0                       8.58           7018    Сходненская
1                       0.00           7018    Сходненская
2                       5.00           7018    Сходненская
3                       5.80           7018    Сходненская
4                       6.00           7018    Сходненская
...                      ...            ...            ...
2991566                11.30           8001   Авиамоторная
2991567                11.30           8001   Авиамоторная
2991568                11.30           8001   Авиамоторная
2991569                11.40           8001   Авиамоторная
2991570                11.98           8001   Авиамоторная

[2991571 rows x 18 columns]>

In [81]:
time_s = pd.Series(dtype = "float")

In [83]:
for i, station_from in enumerate(list(data["start_station_nm"].unique())):
    for station_to in list(data["start_station_nm"].unique())[i:]:
        
        stations_time = data.loc[((data["end_station_nm"] == station_to)  & 
                                      (data["start_station_nm"] == station_from)), ("route_dur")]
        
        station_opt_time = min(list(stations_time.values))
        
        d = pd.Series({f"from {station_from} to {station_to} opt time: ": station_opt_time})
        
        time_s = pd.concat([time_s, d], axis = 0)
        
        #time_s[f"from {station_from} to {station_to} opt time: "] = station_opt_time
        
    print(i)
        
        #print(station_from, station_to, station_opt_time)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291

In [84]:
time_s.to_csv("time_from_to")

from Борисово to Борисово opt time:           0.00
from Борисово to Братиславская opt time:      4.75
from Борисово to Бутырская opt time:         38.33
from Борисово to Волжская opt time:          10.83
from Борисово to Достоевская opt time:       31.91
                                             ...
from Пражская to Южная opt time:              1.92
from Пражская to Бутово opt time:            66.84
from Южная to Южная opt time:                 0.00
from Южная to Бутово opt time:               64.92
from Бутово to Бутово opt time:               0.00
Length: 42794, dtype: float64

In [28]:
a = enumerate([1,2,3,4,5])
list(a)

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)]

In [9]:
df = pd.DataFrame({'team': ['A', 'A', 'A', 'A', 'B', 'B', 'B', 'B'],
 'position': ['G', 'G', 'F', 'F', 'G', 'G', 'F', 'F'],
 'assists': [5, 7, 7, 9, 12, 9, 9, 4],
 'rebounds': [11, 8, 10, 6, 6, 5, 9, 12]})
df

  team position  assists  rebounds
0    A        G        5        11
1    A        G        7         8
2    A        F        7        10
3    A        F        9         6
4    B        G       12         6
5    B        G        9         5
6    B        F        9         9
7    B        F        4        12

In [54]:
import pandas as pd
# Create pandas Series
courses = pd.Series(["Spark","PySpark","Hadoop"])
fees = pd.Series([22000,25000,23000])
discount  = pd.Series([1000,2300,1000])

# Combine two series.
df=pd.concat([courses,fees],axis=1)

# It also supports to combine multiple series.
df=pd.concat([courses,fees,discount],axis=1)
print(df)

         0      1     2
0    Spark  22000  1000
1  PySpark  25000  2300
2   Hadoop  23000  1000

In [56]:
courses = pd.Series(["Spark","PySpark","Hadoop"])
courses

0      Spark
1    PySpark
2     Hadoop
dtype: object